<a href="https://colab.research.google.com/github/nmbayu/Files/blob/main/nmbayu_pj2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import urllib.request

In [ ]:
url = ('https://raw.githubusercontent.com/freeCodeCamp/boilerplate-demographic-data-analyzer/main/adult.data.csv')

In [ ]:
urllib.request.urlretrieve(url, './adult.data.csv')

('./adult.data.csv', <http.client.HTTPMessage at 0x7f1017899f60>)

In [ ]:
def calculate_demographic_data(print_data=True):
    # Read data from file
    adult_df = pd.read_csv('adult.data.csv')
    adult_df.head()

In [ ]:
adult_df = pd.read_csv('adult.data.csv')

In [ ]:
adult_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
# How many people of each race are represented in this dataset?
race_counts = adult_df['race'].value_counts()

In [ ]:
 # What is the average age of men?
filter1 = adult_df['sex'] == 'Male'
df_male_age =adult_df['age'].where(filter1)
average_age_men = round(float(df_male_age.mean()),1)

In [ ]:
 # What is the percentage of people who have a Bachelor's degree?
filter2 = adult_df['education'] == 'Bachelors'
suma2 = adult_df['education'].where(filter2).dropna().count()
percentage_bachelors = round((suma2 / adult_df['education'].count()) * 100,1)

In [ ]:
    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`

    # with and without `Bachelors`, `Masters`, or `Doctorate`
filter3 = adult_df['salary'] == '>50K'

    filter3a = (adult_df['education'] == 'Bachelors') | (adult_df['education'] == 'Masters') | (adult_df['education'] == 'Doctorate')

    filter3b = ~(adult_df['education'] == 'Bachelors') & ~(adult_df['education'] == 'Masters') & ~(adult_df['education'] == 'Doctorate')

    higher_education = adult_df['education'].where(filter3a).dropna().count()
    lower_education = adult_df['education'].where(filter3b).dropna().count()

In [ ]:
# percentage with salary >50K
higher_education_rich = round(adult_df['education'].where(filter3 & filter3a).dropna().count() / higher_education * 100,1)
lower_education_rich = round(adult_df['education'].where(filter3 & filter3b).dropna().count() / lower_education * 100,1)

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = adult_df['hours-per-week'].min()

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

min_work_h_salary = adult_df[(adult_df['hours-per-week'] == min_work_hours) & filter3]

haves = len(min_work_h_salary.index)
have_nots = len(adult_df[(adult_df['hours-per-week'] == min_work_hours)].index)
rich_percentage = haves / have_nots * 100

In [ ]:
# What country has the highest percentage of people that earn >50K?
country_list = pd.DataFrame(data=adult_df['native-country'].unique(), columns = ["native-country"])
country_list['High_Earners'] = 0
country_list['High_Earners_Ratio'] = 0

country_list.set_index('native-country')

filter3 = adult_df['salary'] == '>50K'

for i, row in country_list.iterrows():
        filter6 = adult_df['native-country'] == row['native-country']
        country_list.iloc[i, 1] = adult_df['native-country'].where(filter3 & filter6).dropna().count()
        country_list.iloc[i, 2] = country_list.iloc[i, 1] / adult_df['native-country'].where(filter6).dropna().count() * 100

country_list.loc[country_list['High_Earners'].idxmax()]
country_list.loc[country_list['High_Earners_Ratio'].idxmax()]


highest_earning_country = country_list.loc[country_list['High_Earners_Ratio'].idxmax(), 'native-country']
highest_earning_country_percentage = round(country_list.loc[country_list['High_Earners_Ratio'].idxmax(), 'High_Earners_Ratio'],1)

In [ ]:
   # Identify the most popular occupation for those who earn >50K in India.
df_filtered = adult_df[(adult_df['native-country'] == 'India') & (adult_df['salary'] == '>50K')]
top_IN_occupation = df_filtered['occupation'].value_counts().idxmax()

In [ ]:

        print("Number of each race:\n", race_counts)
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty

In [ ]:
def calculate_demographic_data():
  return {
        'race_counts': race_counts,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage': highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation}